body {
  background-color: #fdfffc;
  color: #333333;
  font-family: 'Ubuntu',Arial,Helvetica,sans-serif;
}

.divide {
  border-bottom: 1px solid #e2e2e2;
}

//feffea

.container {
  width: 960px;
}

.icon-custom {
  display: block;
  padding-left: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-custom-phone {
  background-image: url("/assets/phone.png");
}

header {
  margin: 20px 0;
}

#top_menu {
  ul {
    li {
      a {
        color: #000;
        font-size: 16px;

        &:hover {
          color: #706868;
        }
      }
    }
  }
}

header {
  .phone_block {
    text-align: right;

    .phone {
      font-size: 26px;
      line-height: 50px;
      height: 50px;
      color: #333333;
    }
  }

  .icon-custom-phone, .note {
    float: right;
  }

  .note {
    color: #333333;
    font-size: 13px;
  }

  a.btn {
    margin-top: 20px;
  }
}

#info_blocks {
  width: 100%;

  tr {
    vertical-align: top;
  }

  .info_block {
    margin-right: 15px;

    &.last {
      margin-right: 0px;
    }

    &.blue {
      background-color: #0064c5;

      .head, .content {
        background: none;
      }
    }

    .head {
      height: 43px;
      background-color: #2d9f00;

      .title {
        font-size: 15px;
        line-height: 43px;
        padding-left: 10px;
        font-weight: bold;
        color: #fff;
      }
    }

    .content {
      background-color: #348d00;
      height: 140px;
    }
  }
}

#content-body {
  width: 100%;
  margin-top: 30px;

  tr {
    vertical-align: top;
  }

  .sidebar {
    width: 312px;
  }
    
  .main-content {
    padding-left: 20px;
  }
}

#sidebar {
  width: 312px;

  .content_block {
    background-color: #ededcd;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;

    .content {
      padding: 10px;
    }

    h2 {
      font-size: 15px;
      padding-left: 10px;
      margin: 0;
    }
  }

  .catalog_menu {
    .content {
      padding: 10px 0px;
    }

    .nav-catalog-list {
      li {
        position: relative;

        a {
          font-size: 14px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #000;
          text-decoration: underline;

          &:hover {
            background-color: #dddd9f;
            text-decoration: none;
          }
        }

        .icon-chevron-right {
          color: #a7a7a7;
          float: right;
          text-decoration: none;
        }

        .inner-catalog {
          display: none;
          position: absolute;
          top: -10px;
          left: 290px;
          width: 312px;
          background-color: #ededcd;
          border: 1px solid #e2e2e2;
          z-index: 1001;
        }
      }
    }
  }

  .search_block {
    .form-search {
      input {
        width: 185px;
      }
    }
  }
}

footer {
  height: 50px;
  margin-top: 20px;
  background-color: #ccc;
}

.main-content {
  .text {
    font-size: 0.9em;
  }
  
  
  h1 {
    font-size: 1.5em;
    line-height: 1.3em;
  }
  h2 {
    font-size: 1.3em;

  }
  h3 {
    font-size: 1.2em;

  }
  h4 {
    font-size: 1.1em;

  }
  h5 {
    font-size: 1.0em;
  }
}

#items {
  width: 100%;

  .line {
    td {
      border-top: 1px solid #e2e2e2;
      padding-top: 20px;

      &.border {
        border-right: 1px solid #e2e2e2;
      }
    }
  }

  .item {
    width: 185px;
    padding: 0px 5px 20px 5px;
    border-right: 1px solid #e2e2e2;

    &.no_border {
      border: none;
    }

    .image {
      height: 182px;
      position: relative;

      .icon_status {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }

    .name {
      a {
        font-weight: bold;
        color: #696900;
        margin-bottom: 5px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .description {
      font-size: 13px;
      margin-bottom: 10px;
      color: #333333;
    }

    .price {
      margin-bottom: 10px;

      .current_price {
        margin-bottom: 5px;

        .title {
          float: left;
          font-size: 15px;
          color: #333333;
          font-weight: bold;
          padding-top: 5px;
        }
      }

      .old_price {
        margin-bottom: 5px;

        .title {
          float: left;
          color: #8b8989;
          font-size: 13px;
        }

        .old {
          color: #8b8989;
        }
      }

      .current {
        float: left;
        display: block;
        background-color: #c8f18b;
        padding: 5px 10px;
        margin-left: 10px;
        font-weight: bold;
      }

      .old {
        float: left;
        text-decoration: line-through;
        padding-left: 10px;
      }
    }
  }
}


#item {
  .articul {
    font-weight: bold;
    font-size: 14px;

    .value {
      font-weight: normal;
    }
  }
  .cycles_wrap {
    position: relative;

    .icon_status {
      position: absolute;
      bottom: 26px;
      right: 5px;
      z-index: 10;
    }
  }

  .features {
    width: 100%;

    .name {
      width: 40%;
      font-weight: bold;
    }

    td {
      font-size: 12px;
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 17px;
      vertical-align: middle;
    }
  }

  .image {
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;

    .cycles {
      height: 321px;
      margin-bottom: 10px;
      line-height: 300px;

      a {
        background-image: url("/assets/zoom-plus.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        padding-bottom: 21px;
      }
    }
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #696900;
  }

  h3 {
    font-size: 1.1em;
    text-align: center;
  }

  .buttons {
    text-align: center;
    margin: 20px 0;

    .order {
      font-weight: bold;
    }
  }

  .description {
    font-size: 12px;
  }

  .info_1 {
    float: left;
    width: 310px;
  }

  .info_2 {
    margin-top: 10px;
    padding: 0 10px;
  }

  .body, .additional {
    font-size: 0.9em;
  }

  .price {
    margin-bottom: 10px;

    .current_price {
      margin-bottom: 5px;

      .title {
        float: left;
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        padding-top: 5px;
      }
    }

    .old_price {
      margin-bottom: 5px;

      .title {
        float: left;
        color: #8b8989;
        font-size: 13px;
      }

      .old {
        color: #8b8989;
      }
    }

    .current {
      float: left;
      display: block;
      background-color: #c8f18b;
      padding: 5px 10px;
      margin-left: 10px;
      font-weight: bold;
    }

    .old {
      float: left;
      text-decoration: line-through;
      padding-left: 10px;
    }
  }
}

.custom_dialog {
  h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
  }

  .success {
    color: #3caa3c;
    margin-top: 30px;
    display: none;
  }

  textarea {
    width: 370px;
    height: 100px;
  }

  input {
    width: 370px;
  }

  .cancel {
    margin-left: 10px;
  }

  .control-group {
    margin-bottom: 10px;
  }

  .control-label {
    width: 110px;
  }
  .controls {
    margin-left: 130px;
  }
  .wait {
    display: none;
  }
}

.fancybox-skin {
  background-color: #ededcd;
}

#new_order, #new_order_call {
  margin-top: 20px;
}

#show_category {
  .child_categories {
    a {
      font-size: 15px;
    }
  }
  .pagination {
    text-align: center;
    font-size: 15px;

    .current {
      font-weight: bold;
    }
  }
}