<div class="catalog_menu content_block">
  <div class="content">

    <h2>Каталог</h2>

    <ul class="nav nav-list nav-catalog-list">
      <li>
        <a href="#">
          Радиоуправляемые машин
          <i class="icon-chevron-right"></i>

          <div class="inner-catalog">
             <ul class="nav nav-list nav-catalog-list">

              <li>
                <a href="#">
                  Радиоуправляемые ветролетов
                </a>
              </li>

              <li>
                <a href="#">
                  Радиоуправляемые самолетов
                </a>
              </li>

             </ul>
          </div>
        </a>
      </li>


      <li>
        <a href="#">
          Радиоуправляемые ветролетов
          <i class="icon-chevron-right"></i>
        </a>
      </li>

      <li>
        <a href="#">
          Радиоуправляемые самолетов
          <i class="icon-chevron-right"></i>
        </a>
      </li>

    </ul>

  </div>
</div>