<header>
  <div class="row">
    <div class="span4 logo">
      <%= link_to(image_tag("logo.png"), root_path) %>
    </div>

    <div class="span5 phone_block">
      <span class="icon-custom icon-custom-phone">
        <span class="phone"><%= t(".phone") %></span>
      </span>

      <div class="note"><%= t(".note") %></div>

      <a href="/order_call" class="btn btn-large btn-danger various1 fancybox.ajax"><%= t(".buttons.order_call") %></a
    </div>
  </div>
</header>  