<header>
  <div class="row">
    <div class="span4 logo">
      <%= link_to(image_tag("logo.png"), root_path) %>
    </div>

    <div class="span5 phone_block">
      <span class="icon-custom icon-custom-phone">
        <span class="phone">8 (952) 519-26-81</span>
      </span>

      <div class="note">Не можете выбрать? Звоните! с 10:00 до 20:00</div>

      <button class="btn btn-large btn-danger" type="button">Заказать обратный звонок</button>
    </div>
  </div>
</header>  