<table class="info_blocks <%= place %>">
  <tbody>

    <% if place == :top %>
      <tr>
        <% fetch_info_blocks(place).each do |info_block| %>
          <%= render("layouts/info_block_item", :info_block => info_block) %>
        <% end %>  
      </tr>

    <% elsif place == :sidebar %>
      <% fetch_info_blocks(place).each do |info_block| %>
        <tr>
          <%= render("layouts/info_block_item", :info_block => info_block) %>
        </tr>
      <% end %>  
    <% end %>  
  </tbody>
</table>