<table id="info_blocks">
  <tbody>
    <tr>
      <td>
        <div class="info_block">
          <div class="head">
            <div class="title">Акции и спецпредложения</div>
          </div>

          <div class="content"></div>
        </div>
      </td>

      <td>
        <div class="info_block">
          <div class="head">
            <div class="title">Акции и спецпредложения</div>
          </div>

          <div class="content"></div>
        </div>
      </td>

      <td>
        <div class="info_block last">
          <div class="head">
            <div class="title">Акции и спецпредложения</div>
          </div>

          <div class="content"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>