<div class="search_block content_block">
  <div class="content">

    <h2>Поиск по каталогу</h2>

    <form class="form-search">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Найти</button>
    </form>
  </div>
</div>  