<div class="search_block content_block">
  <div class="content">

    <h2><%= t(".title") %></h2>

    <%= form_tag("/search", :class => "form-search") do %>  
      <input type="text" name="item_name" class="input-medium search-query">
      <button type="submit" class="btn"><%= t(".buttons.search") %></button>
    <% end %>
  </div>
</div>  