<div id="top_menu" class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#">Хиты продаж</a></li>
      <li><a href="#">Отзывы</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Оптовикам</a></li>
      <li><a href="#">Оплата</a></li>
      <li><a href="#">Доставка</a></li>
    </ul>
  </div>
</div>