<div id="top_menu" class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <% fetch_pages.each do |page| %>
        <li><%= page_link(page) %></li>
      <% end %>  
    </ul>
  </div>
</div>